<div *ngIf="getRoles().indexOf('ROLE_ADMIN')!==-1" class="formControl">
  <div style="display: flex;">
  <input type="number" [(ngModel)]="total" name="total">
  <button class="btn btn-info" (click)="showMoreThanInTotal()">Show users who exchanged more than {{total}} in total
  </button>
  </div>
  <div style="display: flex;">
    <input type="number" [(ngModel)]="ones" name="ones">
  <button class="btn btn-info" (click)="showMoreThanAtOnes()">Show users who exchanged more than {{ones}} at ones
  </button>
  </div>
</div>
<div style="display: flex;">
  <app-exchange-table></app-exchange-table>
  <app-users-list [usernames]="usernames" [label]="label"></app-users-list>
</div>
