<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">Exchange Service</a>
    <div id="navb" class="navbar-collapse collapse hide">
      <ul class="navbar-nav">
        <li><a routerLink="/getRates" routerLinkActive="active">Rates</a></li>
        <li *ngIf="isAuth()"><a routerLink="/getStats" routerLinkActive="active">Statistics</a></li>
        <li *ngIf="isAuth()"><a routerLink="/getRatings" routerLinkActive="active">Exchange rating</a></li>
      </ul>
    </div>
    <div *ngIf="!isAuth()" class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
        <a  class="btn btn-info" routerLink="/registration" routerLinkActive="active">Register</a>
        <a  class="btn btn-info" routerLink="/loginForm" routerLinkActive="active">Log In</a>
    </div>

    <button *ngIf="isAuth()" class="btn btn-info pull-right" (click)="logout()">Log Out</button>

  </nav>
</div>
