<div>
  <div *ngIf="!isAuth()" class="form-group col-6 col-sm-3">
    <label for="baseSelect">Change base</label>
    <select class="form-control" [(ngModel)]="currentBase" id="baseSelect" (change)="listRates()">
      <option *ngFor="let exchangeRate of rates" [ngValue]="exchangeRate.base">
        {{exchangeRate.base}}
      </option>
    </select>
  </div>

  <div *ngIf="isAuth()" class="form-group col-6 col-sm-3">
    <label for="from">Exchange from</label>
    <select class="form-control" [(ngModel)]="currentBase" id="from" (change)="listRates()">
      <option *ngFor="let exchangeRate of rates">
        {{exchangeRate.base}}
      </option>
    </select>
    <label for="to">Exchange to</label>
    <select class="form-control" [(ngModel)]="to" id="to">
      <option *ngFor="let exchangeRate of rates">
        {{exchangeRate.base}}
      </option>
    </select>
    <label for="amount">Amount</label>
    <input class="form-control" type="number" [(ngModel)]="amount" id="amount">

    <input type="button" class="btn btn-primary" value="Submit" (click)="doExchange()">
  </div>

</div>

<div>
  <h2>Base:{{currentBase}}</h2>
  <table class="table table-hover col-6 col-sm-3">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Base</th>
      <th scope="col">Rate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exchangeRate of rates">
      <td>{{exchangeRate.base}}</td>
      <td>{{1 / exchangeRate.rate|currency:currentBase}}</td>
    </tr>

    </tbody>

  </table>
</div>
